body {
    text-align: left;
    background-color: #F2F2F2;
  } 

p {
    color: #405866;
    font-family: 'Work sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    margin-left:  20px;
}

p1 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  display: inline-block;
  margin-left:  20px;
  margin-bottom: 0px;
}


p2 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  display: inline-block;
  margin-left: 20px;
}

h1 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1,4em;
  display: inline-block;
  margin-left:  20px;
  font-weight: bold;
}

h2 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1.1em;
  display: inline-block;
  margin:  0px;
  font-weight: bold;
}


input {
  width: 200px;
  margin: 10px;
  margin-left:  20px;
  height: 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #405866;
  border-radius: 10px;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  text-align: left;
}

input:focus {
    outline: none;
    border: solid 5px #F3B307;
}

#printknapp {
    background-color: #405866;
    border: none;
    color: #F3B307;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Work sans',  sans-serif;
    font-size: 16px;
    margin-bottom: 5%;
    border-radius: 40px;
    transition-duration: 0.4s;
  }

  #printknapp:hover {
    background-color: #F3B307;
    color: white;
  }

  .knappdiv{
    margin: auto;
    width: 50%;
  }
  

  #börja {
    background-color: #405866;
    border: none;
    color: #F3B307;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Work sans',  sans-serif;
    margin-bottom: 5%;
    margin-left:  20px;
    margin-top: 2%;
    border-radius: 40px;
    transition-duration: 0.4s;
  }

  #börja:hover {
    background-color: #F3B307;
    color: white;
  }


  

a:link {
  color: #405866;
  font-family: 'Work sans',  sans-serif;

}

a:hover{
  color: #F3B307;
}


a:visited {
  color: #405866;
}

.column{
  float: left;
}

.left{
  width: 60%;
}

.right{
  width: 35%;
  border-style: solid;
  border-width: 3px;
  border-radius: 40px;
  border-color: #405866;
}

@media screen and (max-width: 550px) {
  .column{
    width: 100%
  }
}
