body {
    text-align: left;
    background-color: #F2F2F2;
  } 

p {
    color: #405866;
    font-family: 'Work sans', sans-serif;
    font-size: 1em;
    line-height: 1.3;
    letter-spacing: 2px;
    display: inline-block;
}

p1 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  line-height: 1.3;
  letter-spacing: 2px;
  display: inline-block;
}


p2 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  line-height: 1.3;
  letter-spacing: 2px;
  display: inline-block;
}

h1 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1,2em;
  display: inline-block;
  font-weight: bold;
}

h2 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
}


input {
  width: 200px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  background-color: #FFFFFF;
  color: #405866;
  border-radius: 10px;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  text-align: left;
}


#printknapp {
    background-color: #405866;
    border: none;
    color: #F3B307;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Work sans',  sans-serif;
    font-size: 16px;
    margin-bottom: 5%;
    border-radius: 40px;
    transition-duration: 0.4s;
  }

  #printknapp:hover {
    background-color: #F3B307;
    color: white;
  }

  .knappdiv{
    margin: auto;
    width: 50%;
  }
  

  #börja {
    background-color: #405866;
    border: none;
    color: #F3B307;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Work sans',  sans-serif;
    margin-bottom: 5%;
    margin-left:  20px;
    margin-top: 2%;
    border-radius: 40px;
    transition-duration: 0.4s;
  }

  #börja:hover {
    background-color: #F3B307;
    color: white;
  }


input[type=submit] {
    background-color: #E0E0E0;
    width: 85px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Work sans',  sans-serif;
    font-size: 1em;
    border-radius: 5px;
  }

input[type=submit]:hover {
    background-color: #FFFFFFF;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Work sans',  sans-serif;
    font-size: 1em;
    border-radius: 10px;
  }


a:link {
  color: #405866;
  font-family: 'Work sans',  sans-serif;

}

a:hover{
  color: #F3B307;
}


a:visited {
  color: #405866;
}

.column{
  float: left;
}

.left{
  width: 60%;
  padding: 25px;
}

.right{
  width: 40%;
  background-color: #E0E0E0;
  border-radius: 40px;
  padding: 25px;
}

@media screen and (max-width: 500px) {
  .column{
    width: 100%
  }
}
