body {
    text-align: left;
    background-color: #F2F2F2;
  } 

p {
    color: #405866;
    font-family: 'Work sans', sans-serif;
    font-size: 1em;
    line-height: 1.7;
    letter-spacing: 0,5px;
    display: inline-block;
}

p1 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  line-height: 1.7;
  letter-spacing: 0,5px;
  display: inline-block;
}


p2 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  line-height: 1.7;
  letter-spacing: 0,5px;
  display: inline-block;
}

h3 {
  color: #F3B307;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  line-height: 1.7;
  letter-spacing: 0,5px;
  display: inline-block;
}

h1 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1,2em;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0,5px;
  line-height: 1.7;
}

h2 {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0,5px;
  line-height: 1.7;
}


input {
  height: 30px;
  border: none;
  background-color: #FFFFFF;
  color: #405866;
  border-radius: 6px;
  font-family: 'Work sans',  sans-serif;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0,5px;
}


#printknapp {
    background-color: #405866;
    border: none;
    color: #F3B307;
    height: 50px;
    padding: 15px 32px 15px 32px;
    text-align: left;
    font-family: 'Work sans',  sans-serif;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    letter-spacing: 0,5px;
  }

  #printknapp:hover {
    background-color: #F3B307;
    color: white;
  }

  

  #börja {
    background-color: #405866;
    border: none;
    color: #F3B307;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Work sans',  sans-serif;
    margin-bottom: 5%;
    margin-top: 2%;
    border-radius: 10px;
    transition-duration: 0.4s;
      letter-spacing: 0,5px;
  }

  #börja:hover {
    background-color: #F3B307;
    color: white;
  }


input[type=submit] {
    background-color: #E0E0E0;
    width: 25px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
    font-family: 'Work sans',  sans-serif;
    font-size: 1em;
    border-radius: 5px;
    letter-spacing: 0,5px;
  }

input[type=submit]:hover {
    background-color: #FFFFFFF;
    color: #F3B307;
    transition-duration: 0.4s;
  }


a:link {
  color: #405866;
  font-family: 'Work sans',  sans-serif;
  letter-spacing: 0,5px;
  text-decoration: none;

}

a:hover{
  color: #F3B307;
}


a:visited {
  color: #405866;
}

.column{
  float: left;
}

.left{
  max-width: 600px;
  padding: 2%;
}

.right{
  max-width: 400px;
  background-color: #E0E0E0;
  border-radius: 40px;
  padding: 4%;
}

    
   }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {
  .row 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .row  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .row  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .column  
}
}
