<!DOCTYPE html>
 

<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Hackaton</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
 

    </head>

    <body>

        {% block y %}{% endblock %}
     
     	<script>
	function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
	</script>

    </body>

</html>
 
