
{% extends "layout.html" %}
 
{% block y %}
 

   <h1> Planera ditt hackaton här! </h1>
   <br>
   <br>
   <p1>Instruktioner för att använda planeringsverktyget.
   <br>
1. Börja med att namnge ditt hackaton och gå sedan vidare till nästa steg.
   <br>
2. Fyll i en ruta åt gången och klicka på knappen ’Mata in’.
   <br>
3. När du klickar på ’Mata in’ förflyttas det som du fyllt i till ett sammandrag som sedan går att printa ut. Om du vill ångra det du har fyllt i, kan du skriva över med något annat och därefter klicka på knappen ’Mata in’.
    <br>
4. När du fyller i antalet deltagare, tidsram och budget får du specifika rekommendationer och tips beroende på vad du har fyllt i. Du kan även läsa mer på webbsidan om hur du ska tänka kring planering av ett hackaton.
   <br>
5. När du har planerar klart kan du skriv ut din plan eller börja om. Lycka till!

<br>
<br>
Börja med att namnge ditt hackaton här:</p1>
 

   <form action="/login" method="POST">

      <input placeholder=" " autocomplete="off" type="text" name="name">

      <br>

      <button id="börja" type="submit">Gå vidare</button>

   </form>
 
{% endblock %}
